.strikethrough {
    text-decoration: line-through;
}
div {
  margin-top: 12px;
  font-size: 25px;
  margin-bottom: 12px;
  margin-left: 6px;
}
button {
  margin-left: 6px;
}
.taskCard {
  display:flex;
}

.taskCard {

  height: 20px;

}
.buttonContainer {
    display: flex;
  align-items: center;
}
