<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add Task!</p>
      <label>Task</label>
      <input type="text" class="form-control" [(ngModel)]="newTaskName">
      <label>Task Content</label>
      <input type="text" class="form-control" [(ngModel)]="newTaskContent">
      <br>
      <button
        class="btn btn-primary"
        (click)="onTaskAdded(taskNameInput)">Add Task</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let element of taskElements">
        <div class="panel-heading">{{ element }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element === 'task'" style="color: red">{{ element }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
