<div class="container">
 <div class="row">
    <form>
       <div class="form-group">
       <label for="task">Task</label>
       <input type="text"
       id="task"
       class="form-control">
       </div>
    <div class="form-group">
        <label for="priority">Priority</label>
        <input
        type="text"
        id="priority"
        class="form-control">
    </div>
    <div class="form-group">
        <label for="deadline">Deadline</label>
        <input
        type="text"
        id="deadline"
        class="form-control">
    </div>
