div {
  margin-left: 8px;
  font-size: 20px;

}

button {
  font-size: 20px;
  height: 40px;
}

input{
  height: 35px;
  width:450px;
  font-size: x-large;
}

label {
  font-size: 25px;
  color: rgb(228, 102, 11);
  text-shadow: 2px 2px rgb(63, 39, 3);
}

h2 {
  color: aquamarine;
  text-shadow: 4px 4px rgb(0, 0, 0);
  font-weight: bold;
  font-size: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  height:75px;
  text-align: center;
}
.container {
  display: block;
  position:relative;
  top:20%;
  left:20%;
  margin-top: 20px;
  margin-bottom:50px;
  padding: 30px;
  background-color:#454955;
  border-radius:8px;
  border-top-left-radius:70px;
  box-shadow: 8px 8px 18px 0px rgb(77, 120, 247);
}
